@import url("https://netzbegruenung.github.io/webfonts/style.css");

.gruene-type {
  font-family: "GrueneType", sans-serif;
  font-style: italic;
}

.page-header {
  background-color: #005437;
  color: white;
}

.page-header button {
  background: none !important;
  box-shadow: none !important;
  color: white !important;
}

.page-header svg {
  fill: white !important;
  stroke: white !important;
}

.page-header [data-slot="breadcrumb-link"] {
  color: rgb(255 255 255 / 70%) !important;
}

.page-header [data-slot="breadcrumb-link"]:hover {
  color: white !important;
}

.page-header [data-slot="breadcrumb-page"] {
  color: white !important;
}
